<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" xml:lang="en" lang="en">
<wicket:panel>

  <form wicket:id="form">
    <ul class="cmdbar pager">
      <li><a wicket:id="link.first"><img src="icon_first.png" alt="" /> Začátek</a></li>
      <li><a wicket:id="link.previous"><img src="icon_left.png" alt="" /> Předchozí</a></li>
      <li>
        <label>Strana: <input wicket:id="input.page" size="2" /></label> 
        / <wicket:container wicket:id="label.pages">FIXME</wicket:container> 
        <input type="submit" value="OK" />
      </li>
      <li><a wicket:id="link.next">Následující <img src="icon_right.png" alt="" /></a></li>
      <li><a wicket:id="link.last">Konec <img src="icon_last.png" alt="" /></a></li>
    </ul>
  </form>
  
</wicket:panel>
</html>